.bookshop {
    text-align: center;
    margin-top: 5%;
}
.elementor{
    justify-content: center;
    padding-bottom: 35px;
    font-family:'EB Garamond',serif;
    font-size: 4rem;
}
.header__menu{
    font-size: 14px;
    font-family:'Heebo',sans-serif;
}